<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--local-->
    <link rel="stylesheet" href="../public/styles/friends.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
<script type="text/javascript" src="../public/js/games.js"></script>
<!-- bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<!--title-->
<title>Your Friends</title>
</head>

<body>
    <!-- <div class="search">
        <input class="search-input" placeholder="What firend do you want?" />
        <button class="search-button" type="submit">Search</button>
        <p class="user-name">Username</p>
    </div> -->
    <p class="user-name">Username</p>
    <h1 class="title">Your Friends</h1>
	<div ng-app='get_me' ng-controller = 'me_control'>
    <h2 class="display-name", ng-model="my_name">{{my_name}}</h2>
	</div>
	<style>
	.wrapper {
    border:1px solid #000;
    display:inline-block;
	}
	input,
	button {
    background-color:transparent;
    border:3;
	}
	</style>
	<div id = "add_friends" ng-app = 'add_friends' ng-controller = 'add_control'>
	<br>Add    Friends &nbsp &nbsp  
	<form class="wrapper">
		<input type="text" ng-model="Username" />
		<button ng-click="addFriend()"> Add</button>
	</form>
	</div>
	
    <div id="get_friends" ng-app = 'get_friends' ng-controller = 'get_control' ng-click='getFriends()'><button> Get Friends </button>
	<div class="firend-table-container" style="padding-left: 20em">
	

	 <table class="table table-hover">
	            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Nickname
                    </th>
                </tr>
            </thead>
  <tbody ng:repeat="x in names">
    <tr><td>{{x.friendEmail}}</td><td>{{x.NickName}}</td></tr>
    
  </tbody>
</table>
</div>
</div>
 
	<script>
var app = angular.module('get_friends', []);

app.controller('get_control', ['$scope', '$window', '$http', function ($scope, $window, $http) {

			$scope.getFriends = function () {
				var token = $window.localStorage.getItem('token');
				
				$http({
method: 'POST',
url: 'http://localhost:8080/api/me/getfriends',
transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
data: {"token":token},
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
}).then(function successCallback(response){
	
	if (response.data.code == 0){
		$scope.names = response.data.friends;
	}
});
			};

		}
	]);
angular.bootstrap(document.getElementById("get_friends"), ['get_friends']);	
	
	var app3 = angular.module('add_friends', []);
	var data;

app3.controller('add_control', ['$scope', '$window', '$http', function ($scope, $window, $http) {

			$scope.addFriend = function () {
			data = $scope.Username;
			console.log(data);
				var token = $window.localStorage.getItem('token');
				console.log(token);
				$http({
method: 'POST',
url: 'http://localhost:8080/api/me/addfriends',
transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
data: {"token":token, "email":data},
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
}).then(function successCallback(response){
	console.log(response);
	if (response.data.code == 0){
		alert("Friends added successfully");
	}
});
 

			};

		}
	]);
	
	
	
	angular.bootstrap(document.getElementById("add_friends"), ['add_friends']);
	
	
	var app2 = angular.module('get_me', []);
app2.controller('me_control', ['$scope', '$window', '$http', function ($scope, $window, $http) {

				var token = $window.localStorage.getItem('token');
				
				$http({
method: 'POST',
url: 'http://localhost:8080/api/me',
transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
data: {"token":token},
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
}).then(function successCallback(response){
	
	if (response.data.code == 0){
		$scope.my_name = response.data.nickname;
	}
});
 
		}
	]);
	
	
 </script>


</body>

</html>