<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--local-->
    <link rel="stylesheet" href="../public/styles/friends.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
<script type="text/javascript" src="../public/js/games.js"></script>
<!-- bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<!--title-->
<title>Your Friends</title>
</head>

<body>
    <!-- <div class="search">
        <input class="search-input" placeholder="What firend do you want?" />
        <button class="search-button" type="submit">Search</button>
        <p class="user-name">Username</p>
    </div> -->
    <p class="user-name">Username</p>
    <h1 class="title">Your Friends</h1>
    <h2 class="display-name">Your Name on here</h2>
	<style>
	.wrapper {
    border:1px solid #000;
    display:inline-block;
	}
	input,
	button {
    background-color:transparent;
    border:3;
	}
	</style>Search Friends
	<form class="wrapper">
		<input type="text" />
		<button> Search</button>
	</form>
	<br>Add Friends
	<form class="wrapper">
		<input type="text" />
		<button> Add</button>
	</form>
    

	<button ng-app = 'get_friends' ng-controller = 'get_control' ng-click='getFriends()'> Get Friends </button>
	
	<script>
		var app = angular.module('get_friends',[]);
		app.controller('get_control',['$scope', '$http',function($scope,$http){
		
		$scope.getFriends = function(){
			data = myService.get();
		
			console.log(data);
		}
		
		
		}]
		
		
		)
	</script>


</body>

</html>
