<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--local-->
    <link rel="stylesheet" href="../public/styles/friends.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script type="text/javascript" src="../public/js/games.js"></script>
<!-- bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<!--title-->
<title>Your Friends</title>
</head>

<body>
    <!-- <div class="search">
        <input class="search-input" placeholder="What firend do you want?" />
        <button class="search-button" type="submit">Search</button>
        <p class="user-name">Username</p>
    </div> -->
    <p class="user-name">Username</p>
    <h1 class="title">Your Friends</h1>
    <h2 class="display-name">Your Name on here</h2>
    <div class="firend-table-container" style="padding-top: 2em">
      <table class="table table-hover">
        <thead>
  <tr>
    <th></th>
    <th>Display Name</th>
    <th>Region</th>

  </tr>
</thead>
        <tr>
        <td>
          <img src="http://cdn.edgecast.steamstatic.com/steamcommunity/public/images/avatars/68/68f1e10630427a53dc2eca503eccb83ccf8b28dd_full.jpg" alt="HTML5 Icon" width="184" height="184">
        </td>
        <td>Liangand Dong</td>
        <td><img src="http://community.edgecast.steamstatic.com/public/images/countryflags/us.gif" alt="HTML5 Icon" width="16" height="11">Terre Haute, Indiana, United States<td>

    </tr>
    <tr>
        <td>
          <img src="http://cdn.edgecast.steamstatic.com/steamcommunity/public/images/avatars/e0/e00e9605628be11ae69a938b0ae4cb1cc20fc4c2_full.jpg" alt="HTML5 Icon" width="184" height="184">
        </td>
        <td>Trigon</td>
            <td><img src="http://community.edgecast.steamstatic.com/public/images/countryflags/us.gif" alt="HTML5 Icon" width="16" height="11">Terre Haute, Indiana, United States<td>
    </tr>
    <tr>
        <td>
          <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/de/de2bbaa5fde23e543b8da6a02f0a04f4a19a1c19_full.jpg" alt="HTML5 Icon" width="184" height="184">
        </td>
        <td> Firepanda415 </td>
            <td><img src="http://community.edgecast.steamstatic.com/public/images/countryflags/us.gif" alt="HTML5 Icon" width="16" height="11">Terre Haute, Indiana, United States<td>
    </tr>

      </table>
    </div>








</body>

</html>
