<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<form id="Login" name = "LoginMsg" method = "POST" ng-submit="submitLogin()" ng-app = "my-app" ng-controller = "myCtrl">
<p>
  <label for="textfield">Login:</label>
  <input type="text" name="textfield" id="textfield" ng-model = "fields.Username">
</p>
<p>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" ng-model = "fields.Password">
</p>

{{fields}}
<p>
  <input type="submit" name="submit" id="submit" value="Submit" >
</p>
</form>

<script>

var app = angular.module('my-app',[]);
var data;
app.factory('myService',function(){
var savedData = {};
function set(data) {
	savedData = data;
}
function get() {
	return savedData;
}
return {
	set:set,
	get:get
}
});
app.controller('myCtrl',['$scope', '$http','$window',function($scope,$http,$window){
	$scope.submitLogin = function(){
	data = $scope.fields;
		
$http({
method: 'POST',
url: 'http://localhost:8080/api/authenticate',
transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
data: data,
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
}).then(function successCallback(response){
	if (response.data.code == 0){
		$window.location.href='welcome.html';
		$window.localStorage.setItem('token', response.data.token);
		console.log($window.localStorage.getItem('token'));
	}
});	
	}
}]);



</script>
</body>
</html>
