<!DOCTYPE html>
<html>
<head>
	<!--local-->
	<link rel="stylesheet" href="../public/styles/gamedetail.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
	<script type="text/javascript" src="../public/js/gamedetail.js"></script>
	<!--title-->
	<title>Game Detail</title>
</head>
<body>
	<h1 class="title">Hearthstone</h1>
	<img class="image" src="../public/images/hearthstone.jpg" alt="HTML5 Icon";>
	<p class="details">Game details</p>
</body>
</html>
