<!DOCTYPE html>
<html>
<head>
	<!--local-->
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="../public/js/games.js"></script>
	<!-- bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="../public/styles/games.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
	<!--title-->
	<title>Your Games</title>
</head>
<body>
	<div class="links"><a href="welcome.html">Homepage!</a>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="friendlist.html">FriendsList!</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="games.html">Games!</a>
	<div class="user"><div id='get_me' ng-app='get_me' ng-controller = 'me_control'>
    <h2 class="display-name", ng-model="my_name">Welcome!&nbsp&nbsp {{my_name}}</h2>
	</div></div>
	</div>
	<hr>


	<div class="game-table-container" ng-app = 'buy-game' ng-controller = 'buy-control'>
		<h1 class="title">Games</h1>
			<div class="search">
		<input class="buy-input" placeholder="What game do you want?" ng-model="game"/>
		<button class="buy-button" type="submit" ng-onclick="buy_games()">Buy</button>
	</div>
	
		<div id='get_games' ng-app ='get-games' ng-controller='get-control' >
		<table class="table table-hover">
			<tbody ng:repeat="x in games">
    <tr><td>
					<img src={{x.src}} alt="HTML5 Icon" width="384" height="216">
				</td><td>{{x.GName}}</td><td>{{x.Hours}}</td></tr>
    
  </tbody>
		 
			
		</table>
	</div>
	<button class="recommand-button" type="submit">Recommand games</button>
<script>

		var app2 = angular.module('get_me', []);
app2.controller('me_control', ['$scope', '$window', '$http', function ($scope, $window, $http) {
				
				var token = $window.localStorage.getItem('token');
				
				
				$http({
method: 'POST',
url: 'http://localhost:8080/api/me',
transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
data: {"token":token},
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
}).then(function successCallback(response){
	
	if (response.data.code == 0){
		$scope.my_name = response.data.nickname;
	}
});
 
		}
	]);
	
		
		
	var app = angular.module('get-games', []);

app.controller('get-control', ['$scope', '$window', '$http', function ($scope, $window, $http) {

			
				var token = $window.localStorage.getItem('token');
				
				$http({
method: 'POST',
url: 'http://localhost:8080/api/me/getgames',
transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
data: {"token":token},
headers: {'Content-Type': 'application/x-www-form-urlencoded'}
}).then(function successCallback(response){
	console.log(response);
	if (response.data.code == 0){
	for(var i=0;i<response.data.friends.length;i++){
			response.data.friends[i].src="../public/images/games/"+response.data.friends[i].friendEmail+".jpg";
			console.log(response.data.friends[i].src);
		}
		$scope.games = response.data.games;
	}
});
			

		}
	]);
angular.bootstrap(document.getElementById("get_games"), ['get-games']);
	
	</script>
</body>
</html>
