<!doctype html>
<html>
<head>
    <!--local-->
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="D:\Program Files\nodejs\node_modules\npm\node_modules\crypto-js\crypto-js.js"></script>
    <script type="text/javascript" src="../public/js/games.js"></script>
    <!-- bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../public/styles/games.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <!--title-->

    <meta charset="utf-8">
    <title>Login</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<form id="Login" name="LoginMsg" method="POST" ng-submit="Register()" ng-app="my-app" ng-controller="myCtrl">
    <p>
        <label for="textfield">Email:</label>
        <input type="text" name="textfield" id="textfield" ng-model="fields.Username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" ng-model="fields.Password">
    </p>
    <p>
        <label for="nickname">Nickname:</label>
        <input type="nickname" name="nickname" id="nickname" ng-model="fields.Nickname">
    </p>

    <p>
        <input type="submit" name="submit" id="submit" value="Submit">
    </p>
</form>

<script>

    var app = angular.module('my-app', []);
    var data;
    app.controller('myCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window) {

        $scope.Register = function () {
            data = $scope.fields;
            var temp =$scope.fields.Username+$scope.fields.Password;
            temp = CryptoJS.SHA1(temp).toString();
            console.log(temp);
            data = temp;
            $http({
                method: 'POST',
                url: 'http://localhost:8080/api/register',
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj)
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    return str.join("&");
                },
                data: {"Username":$scope.fields.Username,"Hashed":data,"Nickname":$scope.fields.Nickname},
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).then(function successCallback(response) {
                if (response.data.code == 0) {
                    $window.location.href = 'FrontEnd.html';
                }
                else {
                    alert(response.data.message);
                }
            });
        }
    }]);


</script>

<script src="C:\Users\zhaot1\Desktop\CSSE\CSSE333\FinalProject\CryptoJS v3.1.2\components\sha1.js"></script>
</body>
</html>
