body{
	padding:20px;
	padding-left:50px; 
	padding-right:50px; 
}
.user-name{
	display:inline-block;
	float:right;
}
.search{
	width:100%;
}
.search-input{
	width:70%;
}
.search-button{
	margin-left:20px;
	width:10%;
}
.firend-table-container{
	padding-left:80px; 
	padding-right:80px; 
}
.title{
	font-family:fantasy;
	color:#4B38A8;
	margin-bottom:0px;
}
.links{
	font-family:fantasy;
	font-size:150%;
}
.wrapper {
    border:1px solid #000;
    display:inline-block;
}
.user{
	float:right;
	font-family:fantasy;
	font-size:130%;
	padding-right:100px;
}	
input,
button{
    background-color:transparent;
    border:3;
	}