body{
	padding:20px;
}
.search{
	width:100%;
}

.search-input{
	width:70%;
}

.search-button{
	margin-left:20px;
	width:10%;
}

.user-name{
	display:inline-block;
	float:right;
}

.title{
	font-family:fantasy;
	color:#800000;
	margin-bottom:0px;
}

.recommand-button{
	margin:auto;
	display: block;
}